.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-item {
  display: block;
  float: left;
  cursor: pointer;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.form-container,
nav {
  padding: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  border-radius: 5%;
}

body {
  /* background-image: url("https://images.pexels.com/photos/1343325/pexels-photo-1343325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.choice {
  color: black !important;
  font-weight: bolder !important;
  font-size: 21px;
}

.form-group {
  color: #0d0d0d;
  font-weight: bold;
}
.form-group input,
.form-group textarea,
.form-group,
.rounded-select {
  margin-bottom: 2vmin;
  border-radius: 20px;
  font-size: 20px;
}

.score-field {
  min-height: 60px;
  max-width: 150px;
}

.container form {
  border: 2px solid orangered;

  padding: 40px;

  border-radius: 10px;
  background: #0c2cd50f;
  box-shadow: 1px 1px 1px gray;
}

.admin {
  background-color: red;
  /* border-radius: 2px; */
  padding: 0;
  color: white !important;
  font-weight: 500;
}
.admin a {
  color: white !important;
}
.admin a:hover {
  color: white !important;
  /* border: 2px solid red !important; */
}
