.header {
  margin: 0 auto;
}

.content {
  text-align: center;
  margin: 5vw auto;
  width: 100%;
}

.title {
  font-size: 2vw;
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.container,
.container-fluid,
.wrapper {
  margin: 0 auto !important;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  margin: 0.8vw;
  /* text-transform: uppercase; */
  font-style: italic;
}
.table .thead {
  background: burlywood;
}

.feed-message {
  font-size: 1vw;
  padding: 0px 0px;
  width: 100%;
  text-align: center;
  color: orangered;
}

.row-clickable:hover {
  cursor: pointer;
  background: lightskyblue;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-gap: 0.2vw;
}
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.grid .left-side {
  border-right: 1px solid #ccc;
}
.grid .right-side {
  border-left: 1px solid #ccc;
}
.test {
  padding: 0vw 3vw;
}

.top-nav {
  border-bottom: 2px solid orangered;
  box-shadow: 1px 1px 1px #ccc;
  padding: 0px;
}
.top-nav li,
.top-nav a {
  font-size: 17px;
  font-weight: 400;
  border-radius: 25px !important;
  color: black !important;
  height: 100%;
  margin: 2px 7px;
  text-decoration: none !important;
}
.active-link {
  background: orangered;
  color: white !important;
}
.top-nav a:hover,
.top-nav li:hover {
  color: orangered !important;
}

.navbar-brand {
  color: orangered !important;
  font-weight: bold;
  font-size: 2.5vmin;
  text-transform: uppercase;
}

input,select,textarea {
  background:#e3121205 !important;
}

.text-orange {
  color: orangered !important;
}
.bg-orange {
  background: orangered !important;
}


/* removables */
.pagination,.clear-filter {
  display: none !important;
}